.header-screen(
  style=locals.header_bg
  )
  .header-nav.flex.justify-center.justify-between
    div(id="menu-btn" class="flex items-center cursor-pointer text-white hover:text-primary transition")
      .svg-icon.header-nav__icon(style="stroke: currentColor")
        include ../../assets/img/svg-sprite/menu.svg
      div.header-nav__text Menü
    div(class="header-nav__logo header-nav__logo--abs hidden md:block")
      .svg-icon.text-white
        include ../../assets/img/svg-sprite/logo.svg
    div
      button.button.button--primary.button--alt.button--round-left
        span
          span
            span(class="inline md:hidden") Spenden
            span(class="hidden md:inline lg:hidden") Deine Spende
            span(class="hidden lg:inline") Deine Spende hilft!
  block header-screen-content
