.info-text.info-text--margined
    div(class="info-text__content title title--size-h2 mb-2 lg:mb-0")
        span.text-white
            | Wir helfen der Politik,  das Versprechen der  UN-Klimakonferenz
            | von Paris einzuhalten:
    .info-text__content.info-text__content--with-bg.title.title--size-h2
        span.text-black.bg-secondary.info-text__text
            | Deutschland bis 2030 klimaneutral zu machen.

