.info-text.info-text--margined
    .info-text__content.title.title--size-h2
        span.text-white
            | Wir helfen der Politik,  das Versprechen der  UN-Klimakonferenz
            | von Paris einzuhalten:
    .info-text__content.info-text__content--with-bg
        span.text-black.bg-secondary(style="line-height:1.5")
            | Deutschland&nbsp;bis&nbsp;2030 klimaneutral&nbsp;zu&nbsp;machen.

