.newsletter-form(class=(newsletter_class || '')).flex-grow.flex.flex-col
    if letter_response_text
        div.card.card--form.bg-white.flex-grow.flex.flex-col
            div(class="newsletter-form__title text-black")= letter_response_text
    else
        form.form.js-form.card.card--form.bg-white.flex-grow.flex.flex-col(
            name="newsletter"
            action="https://api.germanzero.de/subscriptions"
            data-success-message="Vielen Dank, dass du dich für unseren Newsletter Angemeldet hast. Du erhältst in Kürze eine E-Mail von uns."
            data-with-captcha
        )
            input(name="token" type="hidden" value="" class="js-captcha")
            if newsletter_full_width
                div(class="card__info block sm:hidden lg:block") #newsletter
                .flex
                    div(class="newsletter-form__title lg:w-full sm:mb-1") Bleiben Sie informiert!
                    div(class="hidden sm:block lg:hidden pl-4")
                        div(class="card__info") #newsletter
                        div(class="newsletter-form__text mb-4") Updates & Hinweise auf Aktionen
                div(class="newsletter-form__text mb-4 block sm:hidden lg:block") Updates & Hinweise auf Aktionen
                div(class="flex-grow flex flex-col sm:flex-row lg:flex-col mb-2 lg:mb-0 -mx-2 sm:-mx-1 lg:-mx-2 items-stretch")
                    //- input(name="firstName" value="test" style="display:none")
                    //- input(name="lastName" value="test" style="display:none")
                    div(class="form__control px-2 sm:px-1 lg:px-2 flex flex-col mb-2 sm:mb-0 lg:mb-2 newsletter-form__col newsletter-form__col--big")
                        label.relative.block
                            input(class="form__input js-form-control" name="email" type="email" value="" data-validation-rule='["email","required"]' onkeyup="this.setAttribute('value', this.value);" )
                            span.form__control-placeholder E-Mail Adresse
                            span.form__error-message
                    div(class="form__control px-2 sm:px-1 lg:px-2 flex flex-col mb-2 sm:mb-0 lg:mb-2 newsletter-form__col")
                        label.relative.block
                            input(class="form__input js-form-control" name="postalCode" type="text" value="" data-validation-rule='["PLZ","required"]' onkeyup="this.setAttribute('value', this.value);" )
                            span.form__control-placeholder PLZ
                            span.form__error-message
                    div(class="px-2 sm:px-1 lg:px-2 flex-grow sm:hidden lg:block")
                        div(class=(newsletter_link_class || ""))
                            a.link.newsletter-form__text.underline(href="/datenschutz") Infos & Hinweise zum Datenschutz
                    div(class="px-2 sm:px-1 lg:px-2")
                        button.button.button--primary.w-full.js-form-submit(style="min-width:220px" type="button")
                            span Jetzt anmelden!
                div.text-center(class=("hidden sm:block lg:hidden " + (newsletter_link_class || "")))
                    a.link.newsletter-form__text.underline(href="/datenschutz") Infos & Hinweise zum Datenschutz
            else
                div(class="card__info block") #newsletter
                div(class="newsletter-form__title lg:w-full md:mb-1") Bleiben Sie informiert!
                div(class="newsletter-form__text mb-4") Updates & Hinweise auf Aktionen
                div.flex-grow.flex.flex-col
                    div.mb-2
                        .form-control
                            label.relative.block
                                input(class="form__input js-form-control" name="email" type="email" value="" data-validation-rule='["email","required"]'  onkeyup="this.setAttribute('value', this.value);" )
                                span.form__control-placeholder E-Mail Adresse
                                span.form__error-message
                    div.mb-2
                        .form-control
                            label.relative.block
                                input(class="form__input js-form-control" name="postalCode" type="text" value="" data-validation-rule='["PLZ","required"]' onkeyup="this.setAttribute('value', this.value);" )
                                span.form__control-placeholder PLZ
                                span.form__error-message
                    div.flex-grow
                    div(class=(newsletter_link_class || ""))
                        a.link.newsletter-form__text.underline(href="/datenschutz") Infos & Hinweise zum Datenschutz
                    div
                        button.button.button--primary.w-full.js-form-submit(type="button")
                            span Jetzt anmelden!



