.newsletter-form
    .card.card--form.bg-white
        .newsletter-form__info #newsletter
        .newsletter-form__title Bleib informiert!
        .newsletter-form__text Updates & Hinweise auf Aktionen
        form
            div.mb-2
                input(type="email" placeholder="E-Mail Adresse")
            div.mb-2
                input(type="text" placeholder="PLZ")
            div.mt-3.pb-2.mb-9
                a.newsletter-form__text.underline(href="#") Infos & Hinweise zum Datenschutz
            div
                button.button.button--primary
                    span Jetzt anmelden!


