.spenden-screen.spenden-screen--margined.flex-grow.flex.flex-col
    div.flex-grow.flex.flex-col(class="-mx-2 lg:-mx-3.flex")
        .call-form.card.card--form.bg-primary.text-white
            .card__info #spendenhilft
            .call-form__header Spenden
            .call-form__text.mb-9.pb-3 Bitte helfen Sie mit Ihrer Spende &#8211; jeder Euro hilft! Spenden ab 5 Euro bewegen tatsächlich.
            div
                a.button.button--black-o.w-full.text-center(href="/spenden")
                    span Jetzt spenden

