{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "debug":true,
        "corejs": "3",
        "targets": {
          "browsers": [
            "last 5 versions",
            "ie >= 11"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import"
  ]
}
