block variables
    - locals.newsletter_class = '';
    - locals.newsletter_link_class = '';
    - locals.newsletter_full_width = true;
    - locals.header_bg = 'url(/assets/img/placeholders/no-image-default.png)';
    - locals.isIndexPage = false;
html(lang="de")
    head
        include ../shared/head
    body
        //- pre= JSON.stringify(htmlWebpackPlugin, undefined, 4)
        //- pre= JSON.stringify(process.env, undefined, 4)
        include ../shared/notifications
        include ../shared/modals
        include ../shared/postcard-fixed-button
        block content
        include ../screens/menu-screen
        include ../shared/footer-scripts
        //- each jsFile in htmlWebpackPlugin.files.js
            script(src=jsFile)

