block variables
    - locals.newsletter_class = '';
    - locals.newsletter_link_class = '';
    - locals.newsletter_full_width = true;
    - locals.header_bg = '/assets/img/placeholders/no-image-default.png';
doctype html
head
    include ../shared/head
body
    block content
