block variables
    - locals.newsletter_class = '';
    - locals.newsletter_link_class = '';
    - locals.newsletter_full_width = true;
    - locals.header_bg = '/assets/img/placeholders/no-image-default.png';
    - locals.isIndexPage = false;
doctype html
head
    include ../shared/head
    include ../../static/validation/validation_messages_de.html
    include ../../static/feature-detection/mobile.html
    include ../../static/captcha.html
body
    include ../shared/notifications
    block content
    include ../shared/modals
    include ../../static/google-analytics.html
    include ../shared/postcard-fixed-button
