.articles-slider {
    overflow: auto;

    &__slide {
        //height: 100%;
    }

    &__image {
        padding-top: 66.502463054%;
    }

    &__text {
        position: relative;
        max-height: 10.5em;
        flex-grow: 1;
        font-size: 16px;

        @screen md {
            font-size: 18px;
        }
    }

    &__title {
        position: relative;
        height: 3em;
        overflow: hidden;
    }
}
