.newsletter-form {
    margin-top: 33px;
    margin-bottom: -37px;

    @screen lg {
        margin-top: 105px;
    }

    @screen xl {
        margin-top: 261px;
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 47px;
        margin-bottom: 6px;
        @apply text-primary font-main;
    }

    &__text {
        line-height: 19px;
        margin-bottom: 25px;
        @apply font-secondary;
    }
}
