.slider-with-titles {

    &__slide {

        .slider-with-titles__title {
            opacity: 0;
        }

        &:hover {

            .slider-with-titles__title {
                opacity: 1;
            }
        }
    }
}

.mobile .slider-with-titles__title {
    opacity: 1;
}
