.spenden-screen {

    &--margined {
        margin-bottom: -360px;

        @screen sm {
            margin-bottom: -47px;
        }

        @screen md {
            margin-bottom: -37px;
            margin-top: 105px;
        }

        @screen lg {
            margin-top: 261px;
        }
    }
}
