table.table-energie {
    width: 450px;
    text-align: left;
    font-size: 12px;
}
table.table-energie .w-60 {
    width: 60%;
    border-right: 1px solid #FFF;
}
table.table-energie .bg-head-table  {
    background: #FF3B44;
}
table.table-energie .bg-yellow  {
    background: #f8e257;
}
@media(max-width: 600px) {
    table.table-energie {
        width: 100%;
    }
}
