.js-leave-modal-template
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut consequatur dignissimos distinctio doloremque laboriosam mollitia quia repellendus suscipit tenetur! Accusamus iste laboriosam, odio reiciendis reprehenderit saepe similique tenetur veniam?
