.js-zoom-modal-template
    div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut dicta iure necessitatibus officia perferendis perspiciatis rem vel vero. Aliquam consequatur impedit iusto mollitia sint! Cumque dolorum obcaecati quae ut.
