extends ../partials/layouts/main.pug

block content
    include ../partials/screens/menu-screen
    append variables
        - locals.header_bg = 'url(/assets/img/machmit-first-screen.jpg)'
        - locals.quoteTitle = ''
        - locals.quoteText = ''
        - locals.isHeaderHeightAuto = true
    include ../partials/screens/quote-screen
    div(class="pt-6 md:pt-8 story-block-container")
        .story-block-container__bg
        .container
            div(class="-mx-2 lg:-mx-3 flex flex-wrap justify-center mb-8 lg:mb-7")
                div(class="px-2 lg:px-3 md:w-1/12 hidden md:block")
                div(class="px-2 lg:px-3 w-full md:w-10/12 text-block")
                    include ./english_summary.html
                div(class="px-2 lg:px-3 md:w-1/12 hidden md:block")
    include ../partials/screens/events-screen
    include ../partials/screens/footer
