extends ../partials/layouts/main.pug

block content
    include ../partials/screens/menu-screen
    append variables
        - locals.header_bg = 'background-image: url(/assets/img/machmit-first-screen.jpg);'
        - locals.quoteTitle = '“GermanZero ist eine Bewegung. Wir gewinnen jeden Tag neue Unterstützerinnen und Unterstützer.”'
        - locals.quoteText = 'Heinrich Strößenreuther, Vorstand GermanZero'
    include ../partials/screens/quote-screen
    div(class="container pt-6 md:pt-9")
        div(class="flex -mx-2 -lg:mx-3 justify-center")
            div(class="px-2 lg:px-3 w-10/12 md:w-8/12")
                //- .content.content--size-3.text-black.mb-4 Werde Teil von etwas Neuem.
                .title.title--size-h2.text-black.mb-2 Impressum
                //- .title.title--size-h2.text-black.mb-2 Mach mit bei GermanZero
                div(class="content content--size-2 text-black mb-6 sm:mb-7 lg:mb-10 xl:mb-10 text-block")
                    p Angaben gemäß § 5 TMG
                    p Sitz des Vereins: Hamburg (Vereinsregisternummer 24224) <br /> Geschäftsstelle Berlin <br /> Benningsenstr. 14 <br /> 12159 Berlin
                    p Vertreten durch Heinrich Strößenreuther und Claas Helmke
                    p Email: <a href="mailto:info@germanzero.de" class="link">info@GermanZero.de</a> <br /> Telefon: <a href="tel:030303068230" class="link">030 303068230</a>

    div(class="pt-6 md:pt-8 story-block-container")
        .story-block-container__bg(style="background-image: url('/assets/img/arrows-sprite.png'), linear-gradient(180deg, rgba(244,211,0,1) 0%, rgba(244,211,0,1) 100%)")
        .container
            div(class="-mx-2 lg:-mx-3 flex flex-wrap justify-center mb-8 lg:mb-7")
                div(class="px-2 lg:px-3 md:w-1/12 hidden md:block")
                div(class="px-2 lg:px-3 w-full md:w-10/12 text-block")
                    include ./impressum.html
                div(class="px-2 lg:px-3 md:w-1/12 hidden md:block")
    include ../partials/screens/events-screen
    include ../partials/screens/footer
