extends ../partials/layouts/main.pug

block content
    append variables
        - locals.isIndexPage = true
    include ../partials/mixins/empty.pug
    append variables
        - locals.header_bg = require('@/assets/img/first-screen.jpg?resize')
        - locals.letter_response_text = 'Es ist ein Fehler aufgetreten. Bitte versuchen Siem es später noch einmal.'
    include ../partials/screens/first-screen
    - locals.letter_response_text = false
    include ../partials/screens/goal-screen
    - locals.call_screen_bg_pos_r = true
    - locals.call_screen_image_big = require('@/assets/img/call-lg.jpg?resize')
    - locals.call_screen_image_small = require('@/assets/img/call.jpg?resize')
    include ../partials/screens/call-screen
    .bg-secondary
        - locals.videos_screen_upper = true
        include ../partials/screens/videos-screen
    - locals.events_screen_bg = '/assets/img/events-bg.png'
    include ../partials/screens/events-screen
    include ../partials/screens/footer
