html {

    body {
        box-sizing: border-box;
    }
}

body {
    font-family: theme('fontFamily.body');
    font-size: 16px; /* rem = 16px */
    @apply text-body;
}

svg {
    fill: currentColor;
    max-width: 100%;
}

sup {
    top: -1em;
}


