.articles-slider.bg-secondary.pt-2
    div(class="py-5 sm:py-7 md:py-9")
        .container
            div(class="flex -mx-2 lg:-mx-3")
                div(class="px-2 lg:px-3 w-full sm:w-6/12 md:w-4/12 flex flex-col flex-1")
                    .articles-slider__slide.flex.flex-col.flex-1
                        a(class="articles-slider__image mb-4 relative responsive-image block" href="/klimaplan/verkehr")
                            img(src='/assets/img/articles-temp/article-1.jpg')
                        a(class="articles-slider__title transition hover:text-primary overflow-hidden title title--size-h3 mb-2 inline-block" href="/klimaplan/verkehr") Verkehr
                        div(class="articles-slider__text overflow-hidden mb-2")
                            | Vestibulum id ligula porta felis euismod semper.
                            | Cras mattis consectetur purus sit amet fermentum.
                            | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                        .flex.justify-end
                            a.articles-slider__action.button.button--black-o(href="/klimaplan/verkehr") Detaillierter

                div(class="px-2 lg:px-3 w-full sm:w-6/12 md:w-4/12 flex flex-col flex-1")
                    .articles-slider__slide.flex.flex-col.flex-1
                        a(class="articles-slider__image mb-4 relative responsive-image block" href="/klimaplan/industrie")
                            img(src='/assets/img/articles-temp/article-2.jpg')
                        a(class="articles-slider__title transition hover:text-primary overflow-hidden title title--size-h3 mb-2 inline-block" href="/klimaplan/industrie") Industrie
                        div(class="articles-slider__text overflow-hidden mb-2")
                            | Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur
                            | purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                        .flex.justify-end
                            a.articles-slider__action.button.button--black-o(href="/klimaplan/industrie") Detaillierter

                div(class="px-2 lg:px-3 w-full sm:w-6/12 md:w-4/12 flex flex-col flex-1")
                    .articles-slider__slide.flex.flex-col.flex-1
                        a(class="articles-slider__image mb-4 relative responsive-image block" href="/klimaplan/landwirtschaft_nutzung")
                            img(src='/assets/img/articles-temp/article-3.jpg')
                        a(class="articles-slider__title transition hover:text-primary overflow-hidden title title--size-h3 mb-2 inline-block" href="/klimaplan/landwirtschaft_nutzung") Landwirtschaft
                        div(class="articles-slider__text overflow-hidden mb-2")
                            | Donec sed odio dui. Vestibulum id ligula porta felis euismod semper.
                            | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum fauc.
                        .flex.justify-end
                            a.articles-slider__action.button.button--black-o(href="/klimaplan/landwirtschaft_nutzung") Detaillierter

