.articles-slider.bg-secondary.pt-2
    div(class="py-5 sm:py-7 md:py-9")
        .container
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .articles-slider__slide.flex.flex-col.flex-grow
                            a(class="articles-slider__image mb-4 relative responsive-image block" href="/klimaplan/energie")
                                img(class="js-lazy-image" data-src='/assets/img/articles-temp/article-1.jpg')
                            a(class="articles-slider__title transition hover:text-primary overflow-hidden title title--size-h3 mb-2 inline-block" href="/klimaplan/energie") Energie
                            div(class="articles-slider__text overflow-hidden mb-2")
                                | Die wichtigsten Ziele: Energieeinsparung, Energieeffizienz und die rasche Umstellung aller Sektoren auf erneuerbare Energie – von der Industrie bis zum Verkehr.
                            .flex.justify-end
                                a.articles-slider__action.button.button--black-o(href="/klimaplan/energie") Details
                    .swiper-slide
                        .articles-slider__slide.flex.flex-col.flex-grow
                            a(class="articles-slider__image mb-4 relative responsive-image block" href="/klimaplan/industrie")
                                img(class="js-lazy-image" data-src='/assets/img/articles-temp/article-2.jpg')
                            a(class="articles-slider__title transition hover:text-primary overflow-hidden title title--size-h3 mb-2 inline-block" href="/klimaplan/industrie") Industrie
                            div(class="articles-slider__text overflow-hidden mb-2")
                                | Mit Ressourceneffizienz und geschlossenen Materialkreisläufen reduzieren wir den Energiebedarf. Die Prozesse werden auf erneuerbare Energien sowie klimaneutrale Brennstoffe umgestellt.
                            .flex.justify-end
                                a.articles-slider__action.button.button--black-o(href="/klimaplan/industrie") Details
                    .swiper-slide
                        .articles-slider__slide.flex.flex-col.flex-grow
                            a(class="articles-slider__image mb-4 relative responsive-image block" href="/klimaplan/verkehr")
                                img(class="js-lazy-image" data-src='/assets/img/articles-temp/article-3.jpg')
                            a(class="articles-slider__title transition hover:text-primary overflow-hidden title title--size-h3 mb-2 inline-block" href="/klimaplan/verkehr") Verkehr
                            div(class="articles-slider__text overflow-hidden mb-2")
                                | Der öffentliche Verkehr wird massiv ausgebaut, die Innenstädte für Radverkehr und Fußgänger optimiert. Autofahren wird reduziert und konsequent elektrisch.
                            .flex.justify-end
                                a.articles-slider__action.button.button--black-o(href="/klimaplan/verkehr") Details
                    .swiper-slide
                        .articles-slider__slide.flex.flex-col.flex-grow
                            a(class="articles-slider__image mb-4 relative responsive-image block" href="/klimaplan/gebaeude_waerme")
                                img(class="js-lazy-image" data-src='/assets/img/articles-temp/article-1.jpg')
                            a(class="articles-slider__title transition hover:text-primary overflow-hidden title title--size-h3 mb-2 inline-block" href="/klimaplan/gebaeude_waerme") Gebäude & Wärme
                            div(class="articles-slider__text overflow-hidden mb-2")
                                | Energetische Gebäudesanierung wird massiv verstärkt. Der verbleibende Energiebedarf wird aus erneuerbaren Energien gedeckt, zum Beispiel mit Wärmepumpen-Technologie.
                            .flex.justify-end
                                a.articles-slider__action.button.button--black-o(href="/klimaplan/gebaeude_waerme") Details
                    .swiper-slide
                        .articles-slider__slide.flex.flex-col.flex-grow
                            a(class="articles-slider__image mb-4 relative responsive-image block" href="/klimaplan/landwirtschaft_nutzung")
                                img(class="js-lazy-image" data-src='/assets/img/articles-temp/article-2.jpg')
                            a(class="articles-slider__title transition hover:text-primary overflow-hidden title title--size-h3 mb-2 inline-block" href="/klimaplan/landwirtschaft_nutzung") Landwirtschaft & Landnutzung
                            div(class="articles-slider__text overflow-hidden mb-2")
                                | Emissionen aus der Tierhaltung werden reduziert. Ein neues Leitbild wird entwickelt, das Raum für kleine Betriebe und hohe Qualität bietet. Natürliche CO2 Speicher wie Moore und Wälder werden geschützt.
                            .flex.justify-end
                               a.articles-slider__action.button.button--black-o(href="/klimaplan/landwirtschaft_nutzung") Details
                    .swiper-slide
                        .articles-slider__slide.flex.flex-col.flex-grow
                            a(class="articles-slider__image mb-4 relative responsive-image block" href="/klimaplan/konsum")
                                img(class="js-lazy-image" data-src='/assets/img/articles-temp/article-3.jpg')
                            a(class="articles-slider__title transition hover:text-primary overflow-hidden title title--size-h3 mb-2 inline-block" href="/klimaplan/konsum") Konsum
                            div(class="articles-slider__text overflow-hidden mb-2")
                                | Klimaschonende Lebensstilveränderungen, die zunächst etwas Umgewöhnung erfordern, sich dann aber als deutliche Verbesserung der Lebensqualität herausstellen können.
                            .flex.justify-end
                                a.articles-slider__action.button.button--black-o(href="/klimaplan/konsum") Details
                .swiper-prev
                    include ../../assets/img/svg-sprite/arrow-slider.svg
                .swiper-next
                    include ../../assets/img/svg-sprite/arrow-slider.svg




