section.call-screen(class=`${call_screen_classes || ''}`)
    include ../mixins/imageAsset
    div(
        class=("call-screen__bg hidden md:block relative")
    )
        +imageAsset({
            sources: locals.call_screen_image_big,
            pictureClass: 'absolute left-0 top-0 w-full h-full -z-10'
        })
    div(
        class=("call-screen__bg md:hidden relative")
    )
        +imageAsset({
            sources: locals.call_screen_image_small,
            pictureClass: 'absolute left-0 top-0 w-full h-full -z-10'
        })
    .call-screen__card
        .container
            div(class="-mx-2 lg:-mx-3.flex")
                div(class="px-2 lg:px-3 hidden lg:block w-1/12")
                div(class="px-2 lg:px-3 w-full sm:w-6/12 lg:w-4/12")
                    .call-form.card.card--form.bg-primary.text-white
                        .card__info #umsteuern
                        .call-form__header Machen Sie mit!
                        .call-form__text.mb-9.pb-3 Zusammen schaffen wir die Klimawende in Deutschland.
                        div
                            a.button.button--black-o.w-full.text-center(href="/mach-mit")
                                span Teil der Bewegung werden!

