.call-screen
    .call-screen__bg(style="background-image: url('/assets/img/harrison-moore-zBG29d6Z98I-unsplash.png')")
    .call-screen__card
        .container
            .-mx-3.flex
                div(class="px-3 hidden lg:block w-1/12")
                div(class="px-3 w-full md:w-6/12 lg:w-4/12")
                    .call-form.card.card--form.bg-primary.text-white
                        .card__info #umsteuern
                        .call-form__header Mach mit!
                        .call-form__text.mb-9.pb-3 Zusammen erreichen wir die Klimawende in Deutschland.
                        div
                            button.button.button--black-o.w-full.text-center
                                span Teil der Bewegung werden

