section.events-screen(class=`${events_screen_classes || 'pt-7 md:pt-9 lg:pt-10 js-lazy-image'}` data-bg=`url(${events_screen_bg ? events_screen_bg : ''})`)
    .container
        div(class=`mx-auto text-center ${events_screen_spacing ? 'mt-6 lg:mt-0' : ''} mb-5 sm:mb-6`)
            .title.title--size-h2.text-black.arrow-block.inline-block
                .arrow-block__icon.text-secondary
                    include ../../assets/img/svg-sprite/text-arrow.svg
                span Nächste Events
        .swiper-container.py-3
            .swiper-wrapper
                .swiper-slide
                    .slider-card.flex.flex-col.flex-grow.card.text-white
                        div(class="z-10 card__info text-black mb-3 lg:mb-4") #klimanotstand
                            div(class="z-10 slider-card__info mb-2 md:mb-3 text-body") 24.04.2020
                            a(href="https://www.earthday.org/earth-day-2020/" class="z-10 slider-card__title link transition title title--size-h3 text-body mb-1 md:mb-2 lg:mb-3") Earth Day
                            div(class="z-10 slider-card__text text-body") The theme for Earth Day 2020 is climate action. The enormous challenge — but also the vast opportunities — of action on climate change have distinguished the issue as the most pressing topic for the 50th anniversary. Climate change represents the biggest challenge to the future of humanity and the life-support systems that make our world habitable.
                            div(class="z-10 flex justify-between items-center")
                                //- a(href="https://www.dbu.de/klimanotstand" class="uppercase underline slider-card__link text-body link") DETAILS
                                //- button.button.button--primary.slider-card__submit-btn.text-center
                                    span RSVP
                .swiper-slide
                    .slider-card.flex.f1lex-col.flex-grow.card.text-white
                        div(class="z-10 card__info text-black mb-3 lg:mb-4") #klimaringvorlesung
                            div(class="z-10 slider-card__info mb-2 md:mb-3 text-body") 25.02.2020 , 18:00 Uhr
                            a(href="https://spd.berlin/termin/innovationsforum-klima/" class="z-10 slider-card__title link title title--size-h3 text-body mb-1 md:mb-2 lg:mb-3") Klimaschutz – Chancen und Möglichkeiten für die Berliner Energie- und Klimawende
                            div(class="z-10 slider-card__text text-body") Die Themen der fünf Fachpanels zeigen, dass ein sozial gerechter und solidarischer Klimaschutz uns alle geht: von der Gestaltung der Stadt als Raum zum Leben, Wohnen und Arbeiten, als Mieterstadt, als Stadt der Arbeitenden, der kleinen und mittleren Unternehmen und als Stadt des Tourismus. Wir als Sozialdemokratinnen und Sozialdemokraten setzen dabei auf die konkreten Maßnahmen und praktikablen Lösungen, die Berlin erfolgreich zu einer klimaneutralen Stadt werden lassen.
                            div(class="z-10 flex justify-between items-center")
                                //- a(href="https://www.fu-berlin.de/sites/nachhaltigkeit/stabsstelle/kommunikation/aktuelles/191010_Lectures-for-Future.html" class="uppercase underline slider-card__link text-body link") DETAILS
                                //- button.button.button--primary.slider-card__submit-btn.text-center
                                    span RSVP
                .swiper-slide
                    .slider-card.flex.flex-col.flex-grow.card.text-white
                        div(class="z-10 card__info text-black mb-3 lg:mb-4") #klimaringvorlesung
                            div(class="z-10 slider-card__info mb-2 md:mb-3 text-body") 06.03.2020 , 20:00 Uhr
                            a(href="https://futurium.de/de/gespraech/vollehalle-klimashow/vollehalle-klimashow-igor-levit" class="z-10 slider-card__title link title title--size-h3 text-body mb-1 md:mb-2 lg:mb-3") VOLLEHALLE Klimashow mit IGOR LEVIT
                            div(class="z-10 slider-card__text text-body") Alles ist im Umbruch, wir stehen vor großen Fragen: In welcher Welt wollen wir leben? Verändern wir etwas oder werden wir verändert? Die Klimakrise ist die wohl größte Herausforderung in der Geschichte der Menschheit – und dabei eng verwoben mit anderen Problemen unserer Zeit.
                            div(class="z-10 flex justify-between items-center")
                                //- a(href="https://www.fu-berlin.de/sites/nachhaltigkeit/stabsstelle/kommunikation/aktuelles/191010_Lectures-for-Future.html" class="uppercase underline slider-card__link text-body link") DETAILS
                                //- button.button.button--primary.slider-card__submit-btn.text-center
                                    span RSVP


            .swiper-prev
                include ../../assets/img/svg-sprite/arrow-slider.svg
            .swiper-next
                include ../../assets/img/svg-sprite/arrow-slider.svg

        //- div(class="text-center pb-1 mb-4 md:-mb-2 lg:mb-0")
                    a.link.link--invert.title.title--size-h4.text-primary.inline-block.title--underline-black(href="/klimaplan/events") Alle Events im Überblick
