section.events-screen(class=`${events_screen_classes || 'pt-7 md:pt-9 lg:pt-10'}` style=`background-image: url(${events_screen_bg ? events_screen_bg : ''})`)
    .container
        div(class=`mx-auto text-center ${events_screen_spacing ? 'mt-6 lg:mt-0' : ''} mb-5 sm:mb-6`)
            .title.title--size-h2.text-black.arrow-block.inline-block
                .arrow-block__icon.text-secondary
                    include ../../assets/img/svg-sprite/text-arrow.svg
                span Nächste Events
        .swiper-container.py-3
            .swiper-wrapper
                .swiper-slide
                    .slider-card.flex.flex-col.flex-grow.card.text-white
                        div(class="z-10 card__info text-black mb-3 lg:mb-4") #klimanotstand
                            div(class="z-10 slider-card__info mb-2 md:mb-3 text-body") 29.01.2020 , 10:00 Uhr
                            a(href="https://www.dbu.de/klimanotstand" class="z-10 slider-card__title link transition title title--size-h3 text-body mb-1 md:mb-2 lg:mb-3") Meine Kommune im Klimanotstand – was nun?
                            div(class="z-10 slider-card__text text-body") Das Klima-Bündnis möchte zu einem einheitlichen Verständnis des „Klimanotstands in Kommunen“ beitragen. Die Veranstaltung vermittelt Fachwissen und stellt erste Praxiserfahrungen vor.
                            div(class="z-10 flex justify-between items-center")
                                //- a(href="https://www.dbu.de/klimanotstand" class="uppercase underline slider-card__link text-body link") DETAILS
                                //- button.button.button--primary.slider-card__submit-btn.text-center
                                    span RSVP
                .swiper-slide
                    .slider-card.flex.f1lex-col.flex-grow.card.text-white
                        div(class="z-10 card__info text-black mb-3 lg:mb-4") #klimaringvorlesung
                            div(class="z-10 slider-card__info mb-2 md:mb-3 text-body") 08.01.2020 , 16:00 Uhr
                            a(href="https://www.fu-berlin.de/sites/nachhaltigkeit/stabsstelle/kommunikation/aktuelles/191010_Lectures-for-Future.html" class="z-10 slider-card__title link title title--size-h3 text-body mb-1 md:mb-2 lg:mb-3") Klimawandel, Rassismus und Globale Verantwortung
                            div(class="z-10 slider-card__text text-body") Schwarze Perspektiven auf die Kolonialität der Klimakrise.
                            div(class="z-10 flex justify-between items-center")
                                //- a(href="https://www.fu-berlin.de/sites/nachhaltigkeit/stabsstelle/kommunikation/aktuelles/191010_Lectures-for-Future.html" class="uppercase underline slider-card__link text-body link") DETAILS
                                //- button.button.button--primary.slider-card__submit-btn.text-center
                                    span RSVP
                .swiper-slide
                    .slider-card.flex.flex-col.flex-grow.card.text-white
                        div(class="z-10 card__info text-black mb-3 lg:mb-4") #klimaringvorlesung
                            div(class="z-10 slider-card__info mb-2 md:mb-3 text-body") 15.01.2020 , 16:00 Uhr
                            a(href="https://www.fu-berlin.de/sites/nachhaltigkeit/stabsstelle/kommunikation/aktuelles/191010_Lectures-for-Future.html" class="z-10 slider-card__title link title title--size-h3 text-body mb-1 md:mb-2 lg:mb-3") Heiße Luft und kalte Schulter
                            div(class="z-10 slider-card__text text-body") Philosophische Perspektiven auf Klimagerechtigkeit
                            div(class="z-10 flex justify-between items-center")
                                //- a(href="https://www.fu-berlin.de/sites/nachhaltigkeit/stabsstelle/kommunikation/aktuelles/191010_Lectures-for-Future.html" class="uppercase underline slider-card__link text-body link") DETAILS
                                //- button.button.button--primary.slider-card__submit-btn.text-center
                                    span RSVP


            .swiper-prev
                include ../../assets/img/svg-sprite/arrow-slider.svg
            .swiper-next
                include ../../assets/img/svg-sprite/arrow-slider.svg

        //- div(class="text-center pb-1 mb-4 md:-mb-2 lg:mb-0")
                    a.link.link--invert.title.title--size-h4.text-primary.inline-block.title--underline-black(href="/klimaplan/events") Alle Events im Überblick
