.faq-screen.py-2
    div(class="py-6 md:py-9")
        .container
            div(class="-mx-2 lg:-mx-3 flex justify-center")
                div(class="px-2 lg:px-3 w-full sm:w-10/12 md:w-8/12 text-black")
                    div(class="font-tertiary mb-3 md:mb-4") Die wesentlichen Schritte zum Ziel.
                    div(class="title title--size-h2 pb-1 mb-3 md:mb-5") Wie soll die Umsetzung funktionieren?
                    div(class="mb-3 md:mb-4")
                        div(class="mb-3 md:mb-5")
                            .title.title--size-h5.font-secondary.font-bold.mb-1 Jetzt: der GermanZero-Masterplan 
                            .content.content--size-2.font-secondary Basis für den Erfolg ist der Masterplan zur Klimaneutralität. Er besteht aus drei Teilen: einem Klimaplan – dieser wird derzeit von Wissenschaftlerinnen und Experten erarbeitet, einem Gesetzepaket sowie einem Kampagnenplan.
                        div(class="mb-3 md:mb-5")
                            .title.title--size-h5.font-secondary.font-bold.mb-1 2020: das Gesetzespaket
                            .content.content--size-2.font-secondary Die Ergebnisse des Masterplans werden von einer Bürgerversammlung sowie Experten in Zusammenarbeit mit Juristinnen und Anwälten als Gesetzespaket formuliert.
                        div(class="mb-3 md:mb-5")
                            .title.title--size-h5.font-secondary.font-bold.mb-1 2020/21: die Bottom-up-Bewegung
                            .content.content--size-2.font-secondary Dieser Gesetzentwurf aus Bürgerhand wird im Herbst 2021 an die Politik kommuniziert: 10.000e Mitwirkende in den Kommunen und Wahlkreisen vermitteln ihn an alle Bundestagsabgeordneten und -kandidatinnen – persönlich und nachdrücklich. Am Ende wird für jeden Politiker und jede Kandidatin eine einfache „Ja oder nein?”-Frage stehen, zu der sie sich bekennen müssen: Ja oder nein zu unserer Zukunft und einer lebenswerten Erde für kommende Generationen.
                        div(class="mb-3 md:mb-5")
                            .title.title--size-h5.font-secondary.font-bold.mb-1 2022: Verankerung der Klimaziele durch die kommende Bundesregierung
                            .content.content--size-2.font-secondary Nach der nächsten Bundestagswahl besteht im Frühjahr 2022 die erste und letzte Chance für umfassende klimapolitische Entscheidungen, die für ein klimaneutrales Deutschland 2035 sorgen und damit die UN-Verträge für das 1,5-Grad-Ziel einhalten. Dann muss unser Gesetztespaket verabschiedet werden – alles, was später kommt, riskiert weitere Klima-Kipp-Punkte und damit eine Klimakatastrophe, die sich verselbständigt und die wir nicht mehr in den Griff bekommen können.
                    div.text-center
                        a.button.button--primary(href="/downloads/GermanZero_Klimaplan_191217_ES.pdf" download) als PDF herunterladen

