.files-screen
    div(class="mx-auto text-center mb-6 lg:mb-7")
        .title.title--size-h2.text-black.arrow-block.inline-block
            .arrow-block__icon.text-white
                include ../../assets/img/svg-sprite/text-arrow.svg
            span Veröffentlichungen & Downloads Updates
    div(class="pt-6 lg:pt-8 bg" style="background-image: url('/assets/img/events-bg.png')")
        .container
            div(class="mx-2 lg:-mx-3 flex justify-center")
                div(class="px-2 lg:px-3 w-full sm:w-10/12 lg:w-8/12 pb-1 toggle-list")
                    input(class="toggle-list__visibility-state" type="checkbox" style="display:none" id="toggleAllFiles")
                    .files-card.bg-white.mb-6
                        .files-card__image-block
                            .responsive-image.files-card__image.mb-2
                                img(src="/downloads/preview-1.jpg" alt="")
                        .files-card__content-block
                            //- .files-card__tag.font-tertiary.text-black.mb-2 #eckpunktepapier
                            .files-card__subtitle.content.content--size-2.mb-1 02.12.2019
                            .files-card__title.title.title--size-h4.mb-3 GermanZero Vorabinformation
                            .files-card__text.content.content--size-2.mb-6
                                | Hier finden Sie wictige allgemeine Information zu GermanZero
                            .flex.justify-between
                                .files-card__info PDF, 0.11 MB
                                a.text-primary.link--invert.underline.uppercase(download target="_blank" href="/downloads/GermanZero_Kampagnen-Briefingdokument_02.12.19_Short.pdf") DOWNLOAD STARTEN
                    .files-card.bg-white.mb-6
                        .files-card__image-block
                            .responsive-image.files-card__image.mb-2
                                img(src="/downloads/preview-2.jpg" alt="")
                        .files-card__content-block
                            //- .files-card__tag.font-tertiary.text-black.mb-2 #eckpunktepapier
                            .files-card__subtitle.content.content--size-2.mb-1 02.12.2019
                            .files-card__title.title.title--size-h4.mb-3 Logo Paket
                            .files-card__text.content.content--size-2.mb-6
                                | Unsere Logos zum Download
                            .flex.justify-between
                                .files-card__info ZIP, 0.34 MB
                                a.text-primary.link--invert.underline.uppercase(download target="_blank" href="/downloads/G0_Logos_RGB.zip") DOWNLOAD STARTEN
                    //- div(class="text-center pb-9 sm:pb-10 lg:pb-9")
                        label(class="cursor-pointer link link--invert inline-block title title--size-h4 text-primary title--underline-black transition hover:text-black" for="toggleAllFiles")
                            span(class="toggle-list__visibility-text toggle-list__visibility-text--more") Weitere Downloads anzeigen
                            span(class="toggle-list__visibility-text toggle-list__visibility-text--less") Weniger Downloads anzeigen

