extends ../widgets/header-screen

block header-screen-content
    section.container.first-screen
        div(class="-mx-2 lg:-mx-3 flex flex-wrap")
            div(class="px-2 md:px-3 w-1/12 hidden lg:block")
            div(class="px-3 w-full md:w-10/12 md:w-9/12 lg:w-5/12 mb-6 md:mb-9 md:mb-0")
                div(class="md:hidden")
                    .svg-icon.text-white.mx-auto.flex.justify-center.mt-4.mb-6(style="max-width:179px")
                        include ../../assets/img/svg-sprite/logo.svg
                include ../widgets/info-text
            div(class="px-2 md:px-3 w-1/12 hidden lg:block")
            div(class="px-2 md:px-3 w-full lg:w-4/12")
                include ../widgets/spenden-screen
            div(class="px-2 md:px-3 w-1/12 hidden lg:block")
