footer.footer
    .footer__forms
        .footer__inner
            .footer__image
                img(src="../../assets/img/teamwork.png")
        .container.mx-auto
            div(class="flex flex-wrap -mx-2 lg:-mx-3 pb-5 lg:pb-3 items-stretch")
                div(class="px-2 lg:px-3 hidden lg:block w-2/12")
                div(class="px-2 lg:px-3 flex items-stretch justify-stretch w-full md:w-6/12 lg:w-4/12 mb-6")
                    append variables
                        - locals.newsletter_class = "flex-grow-1 w-full card--shadowed"
                        - locals.newsletter_link_class = "mb-4 mt-6"
                        - locals.newsletter_full_width = false
                    include ../widgets/newsletter-form
                div(class="px-2 lg:px-3 flex items-stretch justify-stretch w-full md:w-6/12 lg:w-4/12 mb-6")
                    .call-form.card.card--form.bg-primary.text-white.flex.flex-col
                        .card__info #spendenhilft
                        .call-form__header Spenden
                        .call-form__text.mb-9.pb-3.flex-1 Wer keine Zeit hat, der kann mit Spenden helfen. Jeder Euro hilft! Spenden ab  5 Euro bewegen tatsächlich.
                        div
                            button.button.button--black-o.w-full.text-center
                                span Jetzt spenden
    .footer__section.bg-black
        .container
            div(class="flex -mx-2 lg:-mx-3 mb-6 pb-2")
                div(class="px-2 lg:px-3 hidden lg:block w-full lg:w-2/12")
                div(class="px-2 lg:px-3 w-full lg:w-8/12 flex flex-wrap")
                    div(class="mb-7 md:mb-0 w-full md:w-1/2 footer__side footer__side--with-divider flex flex-wrap")
                        div(class="font-body footer__link mb-6 md:mb-4 lg:mb-2 title title--size-h5 font-normal text-white w-1/2 pr-5 text-right")
                            a(href="/klimaplan/presse" class="link") Presse
                        div(class="font-body footer__link mb-6 md:mb-4 lg:mb-2 title title--size-h5 font-normal text-white w-1/2 pl-5 text-left")
                            a(href="#" class="link") Kontakt
                            // mailto:mitmachen@germanzero.de
                        div(class="font-body footer__link mb-6 md:mb-4 lg:mb-2 title title--size-h5 font-normal text-white w-1/2 pr-5 text-right")
                            a(href="/klimaplan/datenschutz" class="link") Datenschutza
                        div(class="font-body footer__link mb-6 md:mb-4 lg:mb-2 title title--size-h5 font-normal text-white w-1/2 pl-5 text-left")
                            a(href="/klimaplan/impressum" class="link") Impressum
                    div(class="w-full md:w-1/2 flex items-center")
                        div(class="px-5 w-full md:pl-6 lg:pr-0 flex justify-between items-center")
                            a(class="footer__icon link text-white hover:text-primary" href="#")
                                include ../../assets/img/svg-sprite/facebook.svg
                            a(class="footer__icon link text-white hover:text-primary" href="#")
                                include ../../assets/img/svg-sprite/twitter.svg
                            a(class="footer__icon link text-white hover:text-primary" href="#")
                                include ../../assets/img/svg-sprite/youtube.svg
                            a(class="footer__icon link text-white hover:text-primary" href="#")
                                include ../../assets/img/svg-sprite/instagram.svg
            div(class="flex")
                div(class="px-2 lg:px-3 hidden lg:block w-full lg:w-1/12")
                div(class="px-2 lg:px-3 w-full lg:w-10/12 flex flex-wrap justify-center md:justify-between")
                    div(class="font-body title title--size-h5 font-normal text-white mb-6 mr-2 lg:mr-auto") ©  GermanZero e.V. 2019
                    a(class="font-body title title--size-h5 font-normal text-white underline mb-6 link js-scroll-it" href="#header-screen") Nach oben!
