.machmit-screen
    div(class="py-6 md:py-9")
        .container
            div(class="-mx-2 lg:-mx-3 flex justify-center")
                div(class="px-2 lg:px-3 w-full sm:w-10/12 md:w-8/12 text-black")
                    div(class="font-tertiary mb-3 md:mb-4") Werde Teil von etwas Neuem.
                    div(class="title title--size-h2 pb-1 mb-3 md:mb-5") Mach mit bei GermanZero
                    div(class="mb-3 md:mb-4")
                        div(class="mb-3 md:mb-5")
                            .content.content--size-2.font-secondary Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod.
                        div(class="mb-3 md:mb-5")
                            .content.content--size-2.font-secondary Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.




