- locals.countries = [{"country":"Afghanistan ","code":"AF"},{"country":"Åland Islands","code":"AX"},{"country":"Albania","code":"AL"},{"country":"Algeria","code":"DZ"},{"country":"American Samoa","code":"AS"},{"country":"Andorra","code":"AD"},{"country":"Angola","code":"AO"},{"country":"Anguilla","code":"AI"},{"country":"Antarctica","code":"AQ"},{"country":"Antigua and Barbuda","code":"AG"},{"country":"Argentina","code":"AR"},{"country":"Armenia","code":"AM"},{"country":"Aruba","code":"AW"},{"country":"Australia","code":"AU"},{"country":"Austria","code":"AT"},{"country":"Azerbaijan","code":"AZ"},{"country":"Bahamas","code":"BS"},{"country":"Bahrain","code":"BH"},{"country":"Bangladesh","code":"BD"},{"country":"Barbados","code":"BB"},{"country":"Belarus","code":"BY"},{"country":"Belgium","code":"BE"},{"country":"Belize","code":"BZ"},{"country":"Benin","code":"BJ"},{"country":"Bermuda","code":"BM"},{"country":"Bhutan","code":"BT"},{"country":"Bolivia","code":"BO"},{"country":"Bonaire, Saint Eustatius and Saba","code":"BQ"},{"country":"Bosnia and Herzegovina","code":"BA"},{"country":"Botswana","code":"BW"},{"country":"Bouvet Island","code":"BV"},{"country":"Brazil","code":"BR"},{"country":"British Indian Ocean Territory","code":"IO"},{"country":"Brunei Darussalam","code":"BN"},{"country":"Bulgaria","code":"BG"},{"country":"Burkina Faso","code":"BF"},{"country":"Burundi","code":"BI"},{"country":"Cambodia","code":"KH"},{"country":"Cameroon","code":"CM"},{"country":"Canada","code":"CA"},{"country":"Cape Verde","code":"CV"},{"country":"Cayman Islands","code":"KY"},{"country":"Central African Republic","code":"CF"},{"country":"Chad","code":"TD"},{"country":"Chile","code":"CL"},{"country":"China","code":"CN"},{"country":"Christmas Island","code":"CX"},{"country":"Cocos (Keeling) Islands","code":"CC"},{"country":"Colombia","code":"CO"},{"country":"Comoros","code":"KM"},{"country":"Congo, Republic of the","code":"CG"},{"country":"Congo, The Democratic Republic of the","code":"CD"},{"country":"Cook Islands","code":"CK"},{"country":"Costa Rica","code":"CR"},{"country":"C?te d?Ivoire","code":"CI"},{"country":"Croatia","code":"HR"},{"country":"Cuba","code":"CU"},{"country":"Cura?ao","code":"CW"},{"country":"Cyprus","code":"CY"},{"country":"Czech Republic","code":"CZ"},{"country":"Denmark","code":"DK"},{"country":"Djibouti","code":"DJ"},{"country":"Dominica","code":"DM"},{"country":"Dominican Republic","code":"DO"},{"country":"Ecuador","code":"EC"},{"country":"Egypt","code":"EG"},{"country":"El Salvador","code":"SV"},{"country":"Equatorial Guinea","code":"GQ"},{"country":"Eritrea","code":"ER"},{"country":"Estonia","code":"EE"},{"country":"Eswatini","code":"SZ"},{"country":"Ethiopia","code":"ET"},{"country":"Falkland Islands (Malvinas)","code":"FK"},{"country":"Faroe Islands","code":"FO"},{"country":"Fiji","code":"FJ"},{"country":"Finland","code":"FI"},{"country":"France","code":"FR"},{"country":"French Guiana","code":"GF"},{"country":"French Polynesia","code":"PF"},{"country":"French Southern Territories","code":"TF"},{"country":"Gabon","code":"GA"},{"country":"Gambia","code":"GM"},{"country":"Georgia","code":"GE"},{"country":"Germany","code":"DE"},{"country":"Ghana","code":"GH"},{"country":"Gibraltar","code":"GI"},{"country":"Greece","code":"GR"},{"country":"Greenland","code":"GL"},{"country":"Grenada","code":"GD"},{"country":"Guadeloupe","code":"GP"},{"country":"Guam","code":"GU"},{"country":"Guatemala","code":"GT"},{"country":"Guernsey","code":"GG"},{"country":"Guinea","code":"GN"},{"country":"Guinea-Bissau","code":"GW"},{"country":"Guyana","code":"GY"},{"country":"Haiti","code":"HT"},{"country":"Heard Island and McDonald Islands","code":"HM"},{"country":"Holy See (Vatican City State)","code":"VA"},{"country":"Honduras","code":"HN"},{"country":"Hong Kong","code":"HK"},{"country":"Hungary","code":"HU"},{"country":"Iceland","code":"IS"},{"country":"India","code":"IN"},{"country":"Indonesia","code":"ID"},{"country":"Iran, Islamic Republic of","code":"IR"},{"country":"Iraq","code":"IQ"},{"country":"Ireland","code":"IE"},{"country":"Isle of Man","code":"IM"},{"country":"Israel","code":"IL"},{"country":"Italy","code":"IT"},{"country":"Jamaica","code":"JM"},{"country":"Japan","code":"JP"},{"country":"Jersey","code":"JE"},{"country":"Jordan","code":"JO"},{"country":"Kazakhstan","code":"KZ"},{"country":"Kenya","code":"KE"},{"country":"Kiribati","code":"KI"},{"country":"Korea, Democratic People's Republic of","code":"KP"},{"country":"Korea, Republic of","code":"KR"},{"country":"Kosovo","code":"XK"},{"country":"Kuwait","code":"KW"},{"country":"Kyrgyzstan","code":"KG"},{"country":"Lao People's Democratic Republic","code":"LA"},{"country":"Latvia","code":"LV"},{"country":"Lebanon","code":"LB"},{"country":"Lesotho","code":"LS"},{"country":"Liberia","code":"LR"},{"country":"Libya","code":"LY"},{"country":"Liechtenstein","code":"LI"},{"country":"Lithuania","code":"LT"},{"country":"Luxembourg","code":"LU"},{"country":"Macao","code":"MO"},{"country":"Macedonia, Republic of","code":"MK"},{"country":"Madagascar","code":"MG"},{"country":"Malawi","code":"MW"},{"country":"Malaysia","code":"MY"},{"country":"Maldives","code":"MV"},{"country":"Mali","code":"ML"},{"country":"Malta","code":"MT"},{"country":"Marshall Islands","code":"MH"},{"country":"Martinique","code":"MQ"},{"country":"Mauritania","code":"MR"},{"country":"Mauritius","code":"MU"},{"country":"Mayotte","code":"YT"},{"country":"Mexico","code":"MX"},{"country":"Micronesia, Federated States of","code":"FM"},{"country":"Moldova","code":"MD"},{"country":"Monaco","code":"MC"},{"country":"Mongolia","code":"MN"},{"country":"Montenegro","code":"ME"},{"country":"Montserrat","code":"MS"},{"country":"Morocco","code":"MA"},{"country":"Mozambique","code":"MZ"},{"country":"Myanmar","code":"MM"},{"country":"Namibia","code":"NA"},{"country":"Nauru","code":"NR"},{"country":"Nepal","code":"NP"},{"country":"Netherlands","code":"NL"},{"country":"New Caledonia","code":"NC"},{"country":"New Zealand","code":"NZ"},{"country":"Nicaragua","code":"NI"},{"country":"Niger","code":"NE"},{"country":"Nigeria","code":"NG"},{"country":"Niue","code":"NU"},{"country":"Norfolk Island","code":"NF"},{"country":"Northern Mariana Islands","code":"MP"},{"country":"Norway","code":"NO"},{"country":"Oman","code":"OM"},{"country":"Pakistan","code":"PK"},{"country":"Palau","code":"PW"},{"country":"Palestine, State of","code":"PS"},{"country":"Panama","code":"PA"},{"country":"Papua New Guinea","code":"PG"},{"country":"Paraguay","code":"PY"},{"country":"Peru","code":"PE"},{"country":"Philippines","code":"PH"},{"country":"Pitcairn","code":"PN"},{"country":"Poland","code":"PL"},{"country":"Portugal","code":"PT"},{"country":"Puerto Rico","code":"PR"},{"country":"Qatar","code":"QA"},{"country":"Reunion","code":"RE"},{"country":"Romania","code":"RO"},{"country":"Russian Federation","code":"RU"},{"country":"Rwanda","code":"RW"},{"country":"Saint Barth?lemy","code":"BL"},{"country":"Saint Helena","code":"SH"},{"country":"Saint Kitts and Nevis","code":"KN"},{"country":"Saint Lucia","code":"LC"},{"country":"Saint Martin (French part)","code":"MF"},{"country":"Saint Pierre and Miquelon","code":"PM"},{"country":"Saint Vincent and the Grenadines","code":"VC"},{"country":"Samoa","code":"WS"},{"country":"San Marino","code":"SM"},{"country":"Sao Tome and Principe","code":"ST"},{"country":"Saudi Arabia","code":"SA"},{"country":"Senegal","code":"SN"},{"country":"Serbia","code":"RS"},{"country":"Serbia and Montenegro","code":"CS"},{"country":"Seychelles","code":"SC"},{"country":"Sierra Leone","code":"SL"},{"country":"Singapore","code":"SG"},{"country":"Sint Maarten (Dutch Part)","code":"SX"},{"country":"Slovakia","code":"SK"},{"country":"Slovenia","code":"SI"},{"country":"Solomon Islands","code":"SB"},{"country":"Somalia","code":"SO"},{"country":"South Africa","code":"ZA"},{"country":"South Georgia and the South Sandwich Islands","code":"GS"},{"country":"South Sudan","code":"SS"},{"country":"Spain","code":"ES"},{"country":"Sri Lanka","code":"LK"},{"country":"Sudan","code":"SD"},{"country":"Suriname","code":"SR"},{"country":"Svalbard and Jan Mayen","code":"SJ"},{"country":"Sweden","code":"SE"},{"country":"Switzerland","code":"CH"},{"country":"Syrian Arab Republic","code":"SY"},{"country":"Taiwan","code":"TW"},{"country":"Tajikistan","code":"TJ"},{"country":"Tanzania, United Republic of","code":"TZ"},{"country":"Thailand","code":"TH"},{"country":"Timor-Leste","code":"TL"},{"country":"Togo","code":"TG"},{"country":"Tokelau","code":"TK"},{"country":"Tonga","code":"TO"},{"country":"Trinidad and Tobago","code":"TT"},{"country":"Tunisia","code":"TN"},{"country":"Turkey","code":"TR"},{"country":"Turkmenistan","code":"TM"},{"country":"Turks and Caicos Islands","code":"TC"},{"country":"Tuvalu","code":"TV"},{"country":"Uganda","code":"UG"},{"country":"Ukraine","code":"UA"},{"country":"United Arab Emirates","code":"AE"},{"country":"United Kingdom","code":"GB"},{"country":"United States","code":"US"},{"country":"United States Minor Outlying Islands","code":"UM"},{"country":"Uruguay","code":"UY"},{"country":"Uzbekistan","code":"UZ"},{"country":"Vanuatu","code":"VU"},{"country":"Venezuela","code":"VE"},{"country":"Viet Nam","code":"VN"},{"country":"Virgin Islands, British","code":"VG"},{"country":"Virgin Islands, U.S.","code":"VI"},{"country":"Wallis and Futuna","code":"WF"},{"country":"Western Sahara","code":"EH"},{"country":"Yemen","code":"YE"},{"country":"Zambia","code":"ZM"},{"country":"Zimbabwe","code":"ZW"}]
- locals.cities = [];

form.form.js-form.flex.flex-wrap.-mx-2.js-custom-machmit-form(
    name='machmit-form'
    action="https://api.germanzero.de/members"
    data-success-message="Vielen Dank für Ihre Unterstützung. Wir werden uns schnellstmöglich bei Ihnen melden."
    with-captcha
)
    input(name="token" type="hidden" value="" class="js-captcha")
    div(class="g-recaptcha" data-sitekey="6LcqGcoUAAAAAOx-ynLFWhuftjUAAX_tzw2fcaiD")
    div(class="px-2 w-full sm:w-6/12 mb-4")
        div(class="form-control")
            label.relative.block
                select(class="form__select w-full js-select-custom js-form-control" name="gender")
                    option(value="") Anrede
                    option(value="female") Frau
                    option(value="male") Herr
                    option(value="other") Sonstige
                span.form__error-message

    div(class="px-2 w-full sm:w-6/12 mb-4")
        div(class="form-control")
            label.relative.block
                select(class="form__select w-full js-select-custom js-form-control" name="title")
                    option(value="") Titel
                    option(value="Dr.") Dr.
                    option(value="Dr. Dr.") Dr. Dr.
                    option(value="Prof.") Prof.
                    option(value="Prof. Dr.") Prof. Dr.
                    option(value="Prof. Dr. Dr.") Prof. Dr. Dr.
                span.form__error-message

    div(class="px-2 w-full sm:w-6/12 mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="firstName" type="text" data-validation-rule='["required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Vorname *
                span.form__error-message
    div(class="px-2 w-full sm:w-6/12 mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="lastName" type="text" data-validation-rule='["required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Name *
                span.form__error-message
    div(class="px-2 w-full md:w-6/12 mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="streetAddress" type="text" data-validation-rule='["required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Straße *
                span.form__error-message
    div(class="px-2 w-full sm:w-6/12 md:w-3/12 mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="houseNumber" type="text" data-validation-rule='["required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Hausnumer *
                span.form__error-message
    div(class="px-2 w-full sm:w-6/12 md:w-3/12 mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="postalCode" type="text" data-validation-rule='["PLZ", "required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder PLZ *
                span.form__error-message
    div(class="px-2 w-full sm:w-6/12 mb-4 sm:mb-6")
        div(class="form-control")
            label.relative.block
                select(class="form__select js-form-control js-select-custom" name="country" data-validation-rule='["required"]')
                    option(value="") Land *
                    each Country in locals.countries
                        option(value=Country.code)= Country.country
                span.form__error-message
    div(class="px-2 w-full sm:w-6/12 mb-4 sm:mb-6")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="city" type="text" data-validation-rule='["required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Stadt *
                span.form__error-message
    div(class="px-2 w-full mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="email" type="email" data-validation-rule='["email", "required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder E-Mail Adresse *
                span.form__error-message
    div(class="px-2 w-full mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="phone" type="tel" value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Mobilfunknummer
                span.form__error-message
    div(class="px-2 w-full mb-4")
        .title.title--size-h5 Wie ich GermanZero unterstützen kann*
        div(class="form-control")
            label.relative.form__checkbox
                input(class="js-form-control" name="assists_finanzstark" value="finanzstark" type="checkbox")
                span.form__checkbox-placeholder finanzstark
                span.form__error-message
        div(class="form-control")
            label.relative.form__checkbox
                input(class="js-form-control" name="assists_reichweitenstark" value="reichweitenstark" type="checkbox")
                span.form__checkbox-placeholder reichweitenstark
                span.form__error-message
        div(class="form-control")
            label.relative.form__checkbox
                input(class="js-form-control js-show-sphere" name="assists_tatkräftig" value="tatkräftig" type="checkbox")
                span.form__checkbox-placeholder tatkräftig
                span.form__error-message
    div(class="px-2 w-full mb-4 js-sphere-radios hidden")
        .title.title--size-h4.mb-1 Sage uns bitte, in welchem Bereich du uns unterstützen kannst und wieviel Zeit du dafür aufwänden kannst.
        div(class="form-control")
            label.relative.block.mb-1
                input(class="form__radio js-form-control js-show-custom-field" type="radio" name="sphere" value="it" checked)
                span.form__radio-placeholder IT
            label.relative.block.mb-1
                input(class="form__radio js-form-control js-show-custom-field" type="radio" name="sphere" value="local-team")
                span.form__radio-placeholder GermanZero-Team in meinem Ort
            label.relative.block.mb-1
                input(class="form__radio js-form-control js-show-custom-field" type="radio" name="sphere" value="accounting")
                span.form__radio-placeholder Buchhaltung / Accounting
            label.relative.block.mb-1
                input(class="form__radio js-form-control js-show-custom-field" type="radio" name="sphere" value="text-ads-media")
                span.form__radio-placeholder Texte / Werbung / Medien
            label.relative.block.mb-1
                input(class="form__radio js-form-control js-show-custom-field" type="radio" name="sphere" value="scientific")
                span.form__radio-placeholder Inhaltlich/wissenschaftlich
            label.relative.block.mb-1
                input(class="form__radio js-form-control js-show-custom-field" type="radio" name="sphere" value="cooperation")
                span.form__radio-placeholder Kooperation
            label.relative.block.mb-1
                input(class="form__radio js-form-control js-show-custom-field" type="radio" name="sphere" value="fundraising")
                span.form__radio-placeholder Fundraising
            label.relative.block.mb-1
                input(class="form__radio js-form-control js-show-custom-field" type="radio" name="sphere" value="custom")
                span.form__radio-placeholder sonstiges
            span.form__error-message
        div(class="form-control mt-2 hidden js-custom-sphere")
            label.relative.block
                input(class="form__input js-form-control" name="custom_sphere" type="text" value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder sonstiges
                span.form__error-message
    div(class="px-2 w-full mb-4 js-sphere-radios hidden")
        .title.title--size-h4.mb-1 Wieviel Zeit kannst du für GermanZero aufbringen
        div(class="form-control")
            label.relative.block.mb-1
                input(class="form__radio js-form-control" type="radio" name="time" value="5")
                span.form__radio-placeholder bis zu 5 Stunden / Woche
            label.relative.block.mb-1
                input(class="form__radio js-form-control" type="radio" name="time" value="10" checked)
                span.form__radio-placeholder bis zu 10 Stunden / Woche
            label.relative.block.mb-1
                input(class="form__radio js-form-control" type="radio" name="time" value="20")
                span.form__radio-placeholder bis zu 20 Stunden / Woche
            label.relative.block.mb-1
                input(class="form__radio js-form-control" type="radio" name="time" value="30")
                span.form__radio-placeholder bis zu 30 Stunden / Woche
            label.relative.block.mb-1
                input(class="form__radio js-form-control" type="radio" name="time" value="40")
                span.form__radio-placeholder bis zu 40 Stunden / Woche
            span.form__error-message
    div(class="px-2 w-full mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="linkedin" type="text" value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Linkedin link
                span.form__error-message
    div(class="px-2 w-full mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="xing" type="text" value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder xing link
                span.form__error-message
    div(class="px-2 w-full mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="instagram" type="text" value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder instagram link
                span.form__error-message
    //- div(class="px-2 w-full mb-4")
            div(class="form-control")
                label.relative.block
                    input(class="form__input js-form-control" name="supportType" type="text" value="" onkeyup="this.setAttribute('value', this.value);" )
                    span.form__control-placeholder Wie kannst Du uns am besten unterstützen?
                    span.form__error-message
    div(class="px-2 w-full mb-2")
        div(class="form-control")
            label.relative.form__checkbox
                input(class="js-form-control" name="newsletter" type="checkbox" checked)
                span.form__checkbox-placeholder Ja, ich möchte den GermanZero-Newsletter bekommen.
                span.form__error-message
    div(class="px-2 w-full mb-2")
        div(class="form-control")
            label.relative.form__checkbox
                input(class="js-form-control" name="privacy" type="checkbox" checked data-validation-rule='["required"]')
                span.form__checkbox-placeholder
                    span Ja, ich habe die
                        a(href="/datenschutz").mx-1.underline.link Datenschutzbestimmungen
                    span gelesen. *
                span.form__error-message
    div(class="px-2 w-full mb-4")
        button.button.button--primary.js-form-submit(type="button")
            span Jetzt bei GermanZero mitmachen!
