div.menu-screen#menu-screen
    span.menu-btn-close#menu-btn-close
        include ../../assets/img/svg-sprite/close.svg
        span(class="hidden lg:inline md:hidden") Schließen
    ul#menu-screen-list
        li Unser Plan
        li.sublist Der Klimaplan
            ul
                li Verkehr
                li Industrie
                li Landwirtschaft
                li Infrastruktur
                li Bilddung
        li.sublist Wer wir sind
            ul
                li Verkehr
                li Industrie
                li Landwirtschaft
                li Infrastruktur
                li Bilddung
        li Jobs
        li Presse
        li FAQ
        li Kontakt
