.presse-photos
    div(class="mx-auto text-center mt-3 lg:mt-5 mb-6 lg:mb-7")
        .title.title--size-h2.text-black.arrow-block.inline-block
            .arrow-block__icon.text-white
                include ../../assets/img/svg-sprite/text-arrow.svg
            span Pressefotos
    div(class="bg")
        .container
            div(class="mx-2 lg:-mx-3 flex justify-center flex-wrap")
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            div.w-full
                                div(class="responsive-image responsive-image--3/2 mb-2 lg:mb-3")
                                    img.w-full.object-cover(class="js-lazy-image" alt="" src="" data-src="/assets/img/presse-photos/GermanZero-Pressekonferenz-2019(1)¬NeumannundRodtmann.jpg")
                                div #1 Prof.Dr.Angelika Zahrnt, Hannah Lübbert, Heinrich Strößenreuther, GermanZero Pressekonferenz, 17.12.2019
                        .swiper-slide
                            div.w-full
                                div(class="responsive-image responsive-image--3/2 mb-2 lg:mb-3")
                                    img.w-full.object-cover(class="js-lazy-image" alt="" src="" data-src="/assets/img/presse-photos/GermanZero-Pressekonferenz-2019(2)¬NeumannundRodtmann.jpg")
                                div #2 Prof.Dr.Angelika Zahrnt, Hannah Lübbert, Heinrich Strößenreuther, GermanZero Pressekonferenz, 17.12.2019
                        .swiper-slide
                            div.w-full
                                div(class="responsive-image responsive-image--3/2 mb-2 lg:mb-3")
                                    img.w-full.object-cover(class="js-lazy-image" alt="" src="" data-src="/assets/img/presse-photos/GermanZero-Pressekonferenz-2019(3)¬NeumannundRodtmann.jpg")
                                div #3 Prof.Dr.Angelika Zahrnt, Hannah Lübbert, Heinrich Strößenreuther, GermanZero Pressekonferenz, 17.12.2019
                        .swiper-slide
                            div.w-full
                                div(class="responsive-image responsive-image--3/2 mb-2 lg:mb-3")
                                    img.w-full.object-cover(class="js-lazy-image" alt="" src="" data-src="/assets/img/presse-photos/GermanZero-Pressekonferenz-2019(4)¬NeumannundRodtmann.jpg")
                                div #4 Prof.Dr.Angelika Zahrnt, Hannah Lübbert, Heinrich Strößenreuther, GermanZero Pressekonferenz, 17.12.2019
                        .swiper-slide
                            div.w-full
                                div(class="responsive-image responsive-image--3/2 mb-2 lg:mb-3")
                                    img.w-full.object-cover(class="js-lazy-image" alt="" src="" data-src="/assets/img/presse-photos/GermanZero-Pressekonferenz-2019(5)¬NeumannundRodtmann.jpg")
                                div #5 Prof.Dr.Angelika Zahrnt, Hannah Lübbert, Heinrich Strößenreuther, GermanZero Pressekonferenz, 17.12.2019
                        .swiper-slide
                            div.w-full
                                div(class="responsive-image responsive-image--3/2 mb-2 lg:mb-3")
                                    img.w-full.object-cover(class="js-lazy-image" alt="" src="" data-src="/assets/img/presse-photos/GermanZero-Pressekonferenz-2019(6)¬NeumannundRodtmann.jpg")
                                div #6 Prof.Dr.Angelika Zahrnt, Hannah Lübbert, Heinrich Strößenreuther, GermanZero Pressekonferenz, 17.12.2019
                        .swiper-slide
                            div.w-full
                                div(class="responsive-image responsive-image--3/2 mb-2 lg:mb-3")
                                    img.w-full.object-cover(class="js-lazy-image" alt="" src="" data-src="/assets/img/presse-photos/GermanZero-Pressekonferenz-2019(7)¬NeumannundRodtmann.jpg")
                                div #7 Prof.Dr.Angelika Zahrnt, Hannah Lübbert, Heinrich Strößenreuther, GermanZero Pressekonferenz, 17.12.2019
                        .swiper-slide
                            div.w-full
                                div(class="responsive-image responsive-image--3/2 mb-2 lg:mb-3")
                                    img.w-full.object-cover(class="js-lazy-image" alt="" src="" data-src="/assets/img/presse-photos/GermanZero-Pressekonferenz-2019(8)¬NeumannundRodtmann.jpg")
                                div #8 Prof.Dr.Angelika Zahrnt, Hannah Lübbert, Heinrich Strößenreuther, GermanZero Pressekonferenz, 17.12.2019
                    .swiper-prev
                        include ../../assets/img/svg-sprite/arrow-slider.svg
                    .swiper-next
                        include ../../assets/img/svg-sprite/arrow-slider.svg
