div(class="py-2 sm:py-3 md:py-4")
    .bg.pt-2
        .container
            .profile-generator
                input.js-profile-upload-file-dialog(type="file" id="upload" accept=".jpg, .jpeg, .png" hidden="true")
                .profile-generator__image
                    canvas.js-profile-canvas
                div(class="py-2 sm:py-3 md:py-4")
                .profile-generator__overlays
                    img.js-profile-overlay(src="../../assets/img/avatar-overlays/facebook-profile-overlay20200212-01.svg" alt="overlay 1")
                    img.js-profile-overlay(src="../../assets/img/avatar-overlays/facebook-profile-overlay20200212-02.svg" alt="overlay 2")
                    img.js-profile-overlay(src="../../assets/img/avatar-overlays/facebook-profile-overlay20200212-03.svg" alt="overlay 3")
                    img.js-profile-overlay(src="../../assets/img/avatar-overlays/facebook-profile-overlay20200212-04.svg" alt="overlay 4")
                    img.js-profile-overlay(src="../../assets/img/avatar-overlays/facebook-profile-overlay20200212-05.svg" alt="overlay 5")
                    img.js-profile-overlay(src="../../assets/img/avatar-overlays/facebook-profile-overlay20200212-06.svg" alt="overlay 6")
                div(class="py-2 sm:py-3 md:py-4")
                .profile-generator__buttons
                    button.button.button--primary.js-upload-profile(type="button")
                        span Profilbild hochladen
                    div(class="px-0 sm:px-3 md:px-4")
                    button.button.button--primary.js-download-profile(type="button")
                        span Profilbild herunterladen
