div(class="py-2 sm:py-3 md:py-4")
    .bg.pt-2
        .container
            .profile-generator
                input.js-profile-upload-file-dialog(type="file" id="upload" accept=".jpg, .jpeg, .png" hidden="true")
                .profile-generator__image
                    img.js-profile-preview(src="../../assets/img/avatar-overlays/facebook-profile-overlay01.png" alt="Profile preview")
                div(class="py-2 sm:py-3 md:py-4")
                .profile-generator__overlays
                    img.js-profile-overlay(src="../../assets/img/avatar-overlays/facebook-profile-overlay01.png" alt="overlay 1")
                    img.js-profile-overlay(src="../../assets/img/avatar-overlays/facebook-profile-overlay02.png" alt="overlay 2")
                    img.js-profile-overlay(src="../../assets/img/avatar-overlays/facebook-profile-overlay03.png" alt="overlay 3")
                    img.js-profile-overlay(src="../../assets/img/avatar-overlays/facebook-profile-overlay04.png" alt="overlay 4")
                    img.js-profile-overlay(src="../../assets/img/avatar-overlays/facebook-profile-overlay05.png" alt="overlay 5")
                    img.js-profile-overlay(src="../../assets/img/avatar-overlays/facebook-profile-overlay06.png" alt="overlay 6")
                div(class="py-2 sm:py-3 md:py-4")
                .profile-generator__buttons
                    button.button.button--primary.js-upload-profile(type="button")
                        span Profilbild hochladen
                    div(class="px-2 sm:px-3 md:px-4")
                    button.button.button--primary.js-download-profile(type="button")
                        span Profilbild herunterladen
