extends ../widgets/header-screen

block header-screen-content
    section.container.first-screen.flex-1.flex.flex-col
        div(class="-mx-2 lg:-mx-3 flex flex-wrap justify-center items-center flex-1")
            div(class="px-2 md:px-3 sm:w-1/12 xl:w-1/12 hidden sm:block")
            div(class="px-3 w-full sm:w-10/12 xl:w-6/12 mb-6 md:mb-9 md:mb-0 flex flex-col flex-1")
                a(class="md:hidden text-white hover:text-primary transition" href="/")
                    .svg-icon.mx-auto.flex.justify-center.mt-4.mb-6(style="max-width:179px")
                        include ../../assets/img/svg-sprite/logo.svg
                div(class="mt-5 md:mt-7 flex-1")
                    include ../widgets/quote-text
            div(class="px-2 md:px-3 sm:w-1/12 xl:w-5/12 hidden sm:block")
