
hr, .hr {
  @apply border-b;
}

.hr {

  &--bold {
    @apply border-4;
    border-radius: 4px;
  }

  &--line {
    width: 100px;
    max-width: 100%;
    height: 1px;
    border: solid 3px currentColor;
    border-radius: 5px;
  }
}
