.link {

    &[href]:not([href=""]) {
        cursor: pointer;

        transition: color .3s ease;

        &:hover {
            color: theme('colors.primary') !important;
        }
    }
}

.link--invert[href]:not([href=""]):hover {
    color: theme('colors.body') !important;
}
