.text-block {

    p {
        margin-bottom: 1em;
    }

    &.js-toggle-list-wrapper {
        max-height: 10em;
        overflow: hidden;

        &.isShown {
            max-height: none;
        }
    }
}
