.call-screen {
    position: relative;
    padding-bottom: 60px;
    margin-bottom: -60px;

    &__bg {
        position: relative;
        padding-top: 50%;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__card {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
