.events-screen {
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    background-size: cover !important;
    overflow-x: auto;
    overflow-y: hidden;


    &__item {

    }
}
