.header-screen {
    padding-top: 50px;
    background-blend-mode: normal, normal, color !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    min-height: 500px;
    display: flex;
    flex-direction: column;

    &--auto-h {
        min-height: 0 !important;
    }

    @screen md {
        padding-top: 133px;
        min-height: 639px;
    }

    @screen lg {
        padding-top: 160px;
    }
}
