- schema = {"@context": "https://schema.org","@type": "Organization","url": "http://germanzero.de","logo": "http://germanzero.de/assets/img/svg-sprite/logo.svg", "name": "German zero","email": "info@germanzero.de"}
script(type="application/ld+json")!=JSON.stringify(schema)

