.transition {
  transition: .3s ease all;
}

.transition-color {
  transition: .3s ease color;
}

.transition-fill {
  transition: .3s ease fill;
}

.transition-opacity {
  transition: .3s ease opacity;
}
