extends ../../partials/layouts/main.pug

block content
    include ../../partials/screens/menu-screen
    append variables
        - locals.header_bg = 'background-image: url(/assets/img/machmit-first-screen.jpg);'
        - locals.quoteTitle = '“GermanZero ist eine Bewegung. Wir gewinnen jeden Tag neue Unterstützerinnen und Unterstützer.”'
        - locals.quoteText = 'Heinrich Strößenreuther, Vorstand GermanZero'
        - locals.breadcrumbs = [{title: 'Zurück zum Klimaplan', href: '/klimaplan'},{title: 'Energie'}]
        - prevLink = {title: 'Konsum', href: '/klimaplan/konsum'};
        - nextLink = {title: 'Industrie', href: '/klimaplan/industrie'};
    include ../../partials/screens/quote-screen
    div(class="container")
        div(class="flex -mx-2 -lg:mx-3 justify-center")
            div(class="px-2 lg:px-3 w-10/12 md:w-8/12")
                div(class="mt-3 md:mt-6")
                    include ../../partials/shared/breadcrumbs
                .title.title--size-h2.text-black.mb-2 Mit Wind und Sonne fossil-frei werden
                div(class="content content--size-2 text-black mb-6 sm:mb-7 lg:mb-10 xl:mb-10 text-block")
                    p Die wichtigsten Maßnahmen bei der Begrenzung der Klimaerhitzung sind Energieeinsparung, Energieeffizienz und die rasche und weitgehende Umstellung aller Sektoren auf 100 % erneuerbare Energie: Verkehr, Heizen, Strom – die gesamte Energie, die wir nutzen, muss zukünftig aus erneuerbaren Energien stammen. Deutschland war lange Zeit vorbildlich in der Entwicklung der erneuerbaren Energien, produziert jedoch immer noch 79 % seiner gesamten Energie mit Öl, Gas oder Kohle. Die gute Nachricht ist, dass die Kosten für erneuerbare Energie und effiziente Technologie immer weiter fallen. In vielen Fällen sind sie schon heute günstiger als der Einsatz fossiler Energieträger und herkömmlicher Technologie. Windenergie und Photovoltaik müssen so schnell wie möglich weiter ausgebaut werden. Parallel dazu müssen wir zügig aus der Nutzung von Kohle und später auch Erdöl und Erdgas aussteigen.

    div(class="pt-6 md:pt-8 story-block-container")
        .story-block-container__bg(style="background-image: url('/assets/img/arrows-sprite.png'), linear-gradient(180deg, rgba(244,211,0,1) 0%, rgba(244,211,0,1) 100%)")
        .container
            div(class="-mx-2 lg:-mx-3 flex flex-wrap justify-center mb-8 lg:mb-7")
                div(class="px-2 lg:px-3 md:w-1/12 hidden md:block")
                div(class="px-2 lg:px-3 w-full md:w-10/12 text-block")
                    include ./energie.html
                    div(class="flex justify-end mt-3 md:mt-6")
                        div(class="w-6/12 text-left pr-2")
                            if prevLink
                                a(href=`${prevLink.href}` class="transition hover:text-primary")= '← ' + prevLink.title
                        div(class="w-6/12 text-right pl-2")
                            if nextLink
                                a(href=`${nextLink.href}` class="transition hover:text-primary")= nextLink.title + ' →'
                    div(class="mt-6 md:mt-9")
                        include ../../partials/shared/breadcrumbs
                div(class="px-2 lg:px-3 md:w-1/12 hidden md:block")
    include ../../partials/screens/events-screen
    include ../../partials/screens/footer
