extends ../../partials/layouts/main.pug

block content
    include ../../partials/screens/menu-screen
    append variables
        - locals.header_bg = 'background-image: url(/assets/img/machmit-first-screen.jpg);'
        - locals.quoteTitle = '“GermanZero ist eine Bewegung. Wir gewinnen jeden Tag neue Unterstützerinnen und Unterstützer.”'
        - locals.quoteText = 'Heinrich Strößenreuther, Vorstand GermanZero'
    include ../../partials/screens/quote-screen
    div(class="container pt-6 md:pt-9")
        div(class="flex -mx-2 -lg:mx-3 justify-center")
            div(class="px-2 lg:px-3 w-10/12 md:w-8/12")
                .title.title--size-h2.text-black.mb-2 Wohnen ohne CO2-Ausstoß
                div(class="content content--size-2 text-black mb-6 sm:mb-7 lg:mb-10 xl:mb-10 text-block")
                    p Die Treibhausgasemissionen der Wärmenutzung in Gebäuden (14,6 % des deutschen Treibhausgas-Ausstoßes) tragen einen erheblichen Anteil zu unserem CO2-Fußabdruck bei. Die beiden zentralen Aufgaben in diesem Bereich sind zum einen die hochwertige energetische Gebäudesanierung und zum anderen die Umstellung auf effiziente, klima- neutrale Versorgungstechniken (v. a. Wärmepumpen, Solarthermie, teilweise Fernwärme und BHKWs, die mit E-Brennstoffen laufen).

    div(class="pt-6 md:pt-8 story-block-container")
        .story-block-container__bg(style="background-image: url('/assets/img/arrows-sprite.png'), linear-gradient(180deg, rgba(244,211,0,1) 0%, rgba(244,211,0,1) 100%)")
        .container
            div(class="-mx-2 lg:-mx-3 flex flex-wrap justify-center mb-8 lg:mb-7")
                div(class="px-2 lg:px-3 md:w-1/12 hidden md:block")
                div(class="px-2 lg:px-3 w-full md:w-10/12 text-block")
                    include ./gebaeude_waerme.html
                div(class="px-2 lg:px-3 md:w-1/12 hidden md:block")
    include ../../partials/screens/events-screen
    include ../../partials/screens/footer
