extends ../partials/layouts/main.pug

block content
    append variables
        - locals.header_bg = 'url(/assets/img/machmit-first-screen.jpg)'
        - locals.quoteTitle = '"Wir von GermanZero helfen mit Klimaplan, 1,5-Grad-Gesetz und Mobilisierung der Politik bei dieser Menschheitsentscheidung."'
        - locals.quoteText = 'Heinrich Strößenreuther, Vorstand GermanZero'
    include ../partials/screens/quote-screen
    div(class="container pt-6 md:pt-9")
        div(class="flex -mx-2 -lg:mx-3 justify-center")
            div(class="px-2 lg:px-3 w-10/12 md:w-8/12")
                .title.title--size-h2.text-black.mb-2 Datenschutzerklärung
                div(class="content content--size-2 text-black mb-6 sm:mb-7 lg:mb-10 xl:mb-10 text-block")
                    p Wir freuen uns sehr über Ihr Interesse an unserem Verein! Datenschutz hat einen besonders hohen Stellenwert für die Verantwortlichen bei GermanZero. Eine Nutzung der Internetseiten von GermanZero ist grundsätzlich ohne jede Angabe personenbezogener Daten möglich. Sofern eine betroffene Person besondere Services unseres Vereins über unsere Internetseite in Anspruch nehmen möchte, könnte jedoch eine Verarbeitung personenbezogener Daten erforderlich werden. Ist die Verarbeitung personenbezogener Daten erforderlich und besteht für eine solche Verarbeitung keine gesetzliche Grundlage, holen wir generell eine Einwilligung der betroffenen Person ein.
                    p Die Verarbeitung personenbezogener Daten, beispielsweise des Namens, der Anschrift, E-Mail-Adresse oder Telefonnummer einer betroffenen Person, erfolgt stets im Einklang mit der Datenschutzgrundverordnung und in Übereinstimmung mit den für GermanZero geltenden landesspezifischen Datenschutzbestimmungen. Mittels dieser Datenschutzerklärung möchte unser Verein die Öffentlichkeit über Art, Umfang und Zweck der von uns erhobenen, genutzten und verarbeiteten personenbezogenen Daten informieren. Ferner werden betroffene Personen mittels dieser Datenschutzerklärung über die ihnen zustehenden Rechte aufgeklärt.
                    p Das Spendenformular wird durch den Dienstleister FundraisingBox zur Verfügung gestellt. FundraisingBox garantiert dabei vollständigen Datenschutz und rechtssichere Datenspeicherung. Dabei werden die Daten der Spendentransaktionen SSL-verschlüsselt und in zertifizierten Rechenzentren gespeichert. Die Verarbeitung personenbezogener Daten erfolgt BDSG-konform (Bundesdatenschutzgesetz). Die Mitarbeiter von FundraisingBox sind im Rahmen des Paragraphen 5 BDSG dem Datengeheimnis verpflichtet. Jeder Spendenbetrag geht direkt auf das Konto von GermanZero und nicht über ein Konto der FundraisingBox ein. Weitere Informationen dazu finden Sie hier: https://www.fundraisingbox.com/besonderheiten/sicherheit/
                    p Die GermanZero hat als für die Verarbeitung Verantwortlicher zahlreiche technische und organisatorische Maßnahmen umgesetzt, um einen möglichst lückenlosen Schutz der über diese Internetseite verarbeiteten personenbezogenen Daten sicherzustellen. Dennoch können internetbasierte Datenübertragungen grundsätzlich Sicherheitslücken aufweisen, sodass ein absoluter Schutz nicht gewährleistet werden kann. Aus diesem Grund steht es jeder betroffenen Person frei, personenbezogene Daten auch auf alternativen Wegen, beispielsweise telefonisch, an uns zu übermitteln.

    div(class="pt-6 md:pt-8 story-block-container")
        .story-block-container__bg.js-lazy-image(data-bg="url('/assets/img/arrows-sprite.png'), linear-gradient(180deg, rgba(244,211,0,1) 0%, rgba(244,211,0,1) 100%)")
        .container
            div(class="-mx-2 lg:-mx-3 flex flex-wrap justify-center mb-8 lg:mb-7")
                div(class="px-2 lg:px-3 md:w-1/12 hidden md:block")
                div(class="px-2 lg:px-3 w-full md:w-10/12 text-block")
                    include ./datenschutz.html
                div(class="px-2 lg:px-3 md:w-1/12 hidden md:block")
    include ../partials/screens/events-screen
    include ../partials/screens/footer
