extends ./partials/layouts/main.pug

block content
    include ./partials/screens/first-screen
    include ./partials/screens/goal-screen
    include ./partials/screens/call-screen
    include ./partials/screens/videos-screen
