meta(charset='utf-8')
meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
meta(http-equiv='x-ua-compatible' content='ie=edge')
title= htmlWebpackPlugin.options.title
include ./meta
//- meta(name='robots' content='noindex, nofollow')
//- Touch
meta(name='format-detection' content='telephone=no')
meta(name='format-detection' content='address=no')
//- Viewport
meta(name='HandheldFriendly' content='True')
meta(name='MobileOptimized' content='320')
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
//- Favicons
link(rel='apple-touch-icon' sizes='180x180' href='/assets/favicons/apple-touch-icon.png?v=1575374747000')
link(rel='icon' type='image/png' sizes='32x32' href='/assets/favicons/favicon-32x32.png?v=1575374747000')
link(rel='icon' type='image/png' sizes='16x16' href='/assets/favicons/favicon-16x16.png?v=1575374747000')
link(rel='manifest' href='/assets/favicons/site.webmanifest')
link(rel='mask-icon' href='/assets/favicons/safari-pinned-tab.svg?v=1575374749000' color='#fe4141')
link(rel='shortcut icon' href='/assets/favicons/favicon.ico?v=1575374748000')
meta(name='msapplication-TileColor' content='#fe4141')
meta(name='msapplication-TileImage' content='/assets/favicons/mstile-144x144.png?v=1565205380000')
meta(name='msapplication-config' content='/assets/favicons/browserconfig.xml?v=1575374747000')
meta(name='theme-color' content='#ffffff')
//- Google analytics / gcpatcha preconnect
link(rel="preconnect" href="https://www.google-analytics.com")
link(rel="preconnect" href="https://www.gstatic.com")
//- each cssFile in htmlWebpackPlugin.files.css
    link(rel="stylesheet" href=cssFile)
