.modal.js-modal
    .modal__bg
    .modal__content.js-modal-content
    .modal__close-btn
        include ../../assets/img/svg-sprite/close.svg

div(style="display:none")
    include ../modals/leave-modal
