noscript
  link(rel='stylesheet' href='/assets/css/noscript.css')
  .noscript-msg
    input#noscript-msg__input.noscript-msg__input(type='checkbox' title='Close')
    .noscript-msg__container
      label.noscript-msg__close(for='noscript-msg__input') &times;
      .noscript-msg__content
